body {
   color: white;
   background-color:black;
   font-family: Arial, Helvetica, sans-serif;
   
   }
   
   ul{
   
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 10px;
   
   }
   
   a {
   
   color: rgb(132, 224, 27);
   text-decoration: none;
   
   }
   
   img{
   
   width: 300px;
   height: 150px;
   border-radius: 20%;
   border: 5px solid green;
   
   }
   
   .center{
   text-align: center;
   }
   
   h1{
   color: #8cd81b;
   font-size: 60px;
   text-align: center;
   
   }
   
   h2{
   color: rgb(42, 122, 241);
   text-align: center;
   }
   p{
   
   text-align: justify;
   padding: 25px;
   }
   